*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    max-width: 1500px;
    margin: 0 auto;
}

/* mobile nav section  */
.nav-mobile{
    /* border: 3px solid black; */
    /* display: flex; */
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
    display: none;
    background: tomato;
    color: white;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.mobile-logo{
    /* border: 3px solid tomato; */
    background: var(--main-color);
    display: flex;
    color: var(--white-color);
    align-items: center;
}

.mobile-logo-container{
    border: 3px solid var(--white-color);
    font-size: 25px;
    padding: 5px;
}

.mobile-logo span{
    font-size: 25px;
    font-weight: bolder;
    margin-left: 10px;
}

.harmburger{
    /* border: 3px solid black; */
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-links-holder{
    /* border: 3px solid black; */
    transform: translateX(200%);
    position: fixed;
    right: 0;
    top: 50px;
    width: 100%;
    background: tomato;
    transition: all 0.9s ease;
}

.show-mobile-links-holder{
    transform: translateX(0);
}
.mobile-links-holder ul{
    list-style: none;
}
.mobile-links-holder ul li a:hover{
    background: white;
    color: tomato;
}

.mobile-links-holder a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 24px 0 24px 20px;
}

.mobile-active-link:hover{
    background: white;
    color: tomato;
}
.showburger .menu{
    background: transparent;
}

.showburger .menu::before{
    transform: translateY(0) rotate(45deg);
    background: white;
}

.showburger .menu::after{
    transform: translateY(0) rotate(-45deg);
    background: white;
}

.menu{
    height: 3px;
    width: 100%;
    background: white;
    position: relative;
    z-index: 6;
}

.menu::before{
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    background: white;
    transform: translateY(-10px);
   
}

.menu::after{
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    background: white;
    transform: translateY(10px);

}

/* header section starts here */
header{
    /* border: 3px solid tomato; */
    padding: 30px;
    background: url(./images/header-fig.png);
    color: white;
    position: relative;
    /* height: 600px; */
}

.Nav-desktop{
    /* border: 3px solid black; */
    display: flex;
    justify-content: space-between;

}

.Desktop-logo{
    /* border: 2px solid tomato; */
    /* color: white; */
    display: flex;
    align-items: center;
    font-size: 20px;
    padding-left: 40px;
}

.desktop-link-holder{
    /* border: 3px solid purple; */
    display: flex;
    width: 40%;
}

.desktop-link-holder ul{
    list-style: none;
    display: flex;
    align-items: center;
    /* border: 3px solid blue; */
    width: 100%;
    justify-content: space-evenly;
    padding-right: 40px;
}

.desktop-link-holder ul a{
    text-decoration: none;
    color: white;
}
.header-banner{
    /* border: 2px solid green; */
    width: 30%;
    padding: 40px 0;
    margin-left: auto;
    margin-right: 40px;
    margin-top: 50px;
}
.header-banner h4{
    font-size: 23px;
    padding: 15px 0;
}
.header-banner p{
    width: 80%;
    font-size: 17px;
    padding: 15px 0;
    line-height: 141.52%;
}
.btn{
    padding: 7px 13px;
    border: none;
    border-radius: 30px;
    background: tomato;
    color: white;
    font-size: 10px;
}

.btn-white{
    background: white;
    color: tomato;
    font-size: 18px;
    margin-top: 20px;
}
/* header section ends here */

/* second section starts here */
.second-section-container {
    /* border: 2px solid tomato; */
    padding: 20px;
}

.content-holder{
    /* border: 2px solid black; */
    padding: 10px 0;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.content{
    /* border: 2px solid blue; */
    width: 30%;
    padding: 25px;
    background: tomato;
    color: white;
    border-radius: 25px;
}

.content h4{
    font-size: 23px;
}

.content h3{
    font-size: 25px;
    line-height: 1.5;
}

.content p{
    padding: 10px 0;
    font-size: 14px;
    padding-bottom: 35px;
    line-height: 1.5;
}
/* second section ends here */

/* Cta section starts here */

.cta-section{
    /* border: 2px solid black; */
    background: tomato;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo-holder{
    padding-top: 25px;
    color: white;
}
/* Cta section starts here */

/* footer section starts here */
footer{
    /* border: 2px solid blue; */
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

footer h2{
    font-size: 18px;
}

.footer-link-holder a {
    /* border: 2px solid tomato; */
    text-decoration: none;
    color: white;
}
/* footer section ends here */
