@media (max-width:930px) {
    .header-banner{
        width: 40%;
    }
    .desktop-link-holder{
        width: 50%;
    }
    .content-holder{
        width: 100%;
    }
    .content-holder p{
        font-size: 12px;
    }
}

@media (max-width:620px) {
    .nav-mobile{
        display: flex;
    }
    .Nav-desktop{
        display: none;
    }
    .header-banner{
        width: 80%;
        margin: 0 auto;
    }
    .content-holder{
        flex-direction: column;
    }
    .content{
        width: 80%;
        margin: 5px auto;
    }
    .cta-section{
        text-align: center;
    }
    footer{
        flex-direction: column;
        text-align: center;
    }
    .footer-link-holder{
        /* border: 2px solid green; */
        width: 18%;
        margin: 5px auto;
        display: flex;
        justify-content: space-between;
    }
}